/* body{
   background-color: black;
} */
@font-face {
    font-family: 'miniPro' ;
 
    src: url("../../assets/fonts/MinionPro-Regular.otf");
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin-top: 25px;
    gap: 0.5rem;
   }
   
   .grid-item {
 
    text-align: center;
   }

   .grid-item img{
    width: 85%;
   }
   

   /* .search-bar {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 125px;
      background-color: black;
      width: 75vw;
  
     }
     .searchbar{
      width: 80%;
    height: 20px;
    border-radius: 15px;
    padding: 15px;
    padding-inline: 25px;
    font-size: large;
     }
.search-bar h1{
   margin-block: 8px;
} 
*/
/* .search-bar {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   height: 125px;
   background-color: black;
   width: 75vw;
  }
  
  .input-wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 80%;
   height: 20px;
   border-radius: 15px;
   padding: 15px;
   padding-inline: 25px;
   font-size: large;
  }
  
  .searchbar{
   flex-grow: 1;
   width: 80%;
   height: 20px;
   border-radius: 15px;
   padding: 15px;
   padding-inline: 25px;
   font-size: large;
   outline: none;
  }
  
  .search-bar h1{
   margin-block: 8px;
  }

  .submitButton{
   background: none;
   border: none;
  }
   */

   .search-bar {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 24%;
    background-color: black;
    width: 80vw;
      outline: none;
      font-family: "miniPro";
  }
  
  .input-wrapper {
      position: relative;
      display: inline-block;
      width: 80%;
      height: 20px;
      border-radius: 15px;
      padding: 6px;
      padding-inline: 25px;
      font-size: large;
      font-family: 'Poppins', sans-serif;
  }
  
  .searchbar{
      width: 100%;
      height: 100%;
      border-radius: 15px;
      padding: 10px;
      padding-inline: 25px;
      font-size: large;
      padding-right: 40px; /* Adjust as needed */
      font-family: 'Poppins', sans-serif;
  }
  
  .submitButton {
      position: absolute;
      top: 110%;
      right: -1.5%; /* Adjust as needed */
      transform: translateY(-50%);
      transition: all 1.5s;
  }

  .submitButton:hover{
   width: 50px;
  }
  
  .search-bar h1{
      margin-block: 10px;
      font-weight: 500;
      letter-spacing: 2px;
      font-family: 'Poppins', sans-serif;
  }

  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
   
   }
   
   .modal-content {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    width: 77vw;
    height: 24vw;
    background: black;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 65px;
   }
   .modalSection{
    display: flex;
    flex-direction: row;
    align-items: center;
   }
   .left-section {
    flex: 1;
    text-align: center;
   }
   .left-section img{
    width: 65%;
   }
   
   .right-section {
    font-family: 'Poppins', sans-serif;
    flex: 1;
    color: white;
    font-size: 30px;
   }
   
   .close {
    color: #009016;
    position: absolute; /* Add this line */
    right: 0; /* Add this line */
    top: 0; /* Add this line */
    /* float: right; */
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
   }
   
   .close:hover,
   .close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
   }
   
   @media screen and (max-height: 775px) and (max-width: 378px){

    .search-bar{
        height: 50%;
    }
   }
  @media screen and (max-width: 770px) {
    .grid-container {
       grid-template-columns: repeat(5, 1fr);
       grid-template-rows: repeat(9, 1fr);
    }
    .search-bar{
width: 100vw;
height: 25%;
    }
    .searchbar{
        width: 80%;
    }
    .submitButton{
        right: 10%;
    }
    .search-bar h1{
        margin-block: 48px;
    }
   }
   @media screen and (max-width: 450px) {
   
    .grid-container {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(9, 1fr);
        margin-top: 55px;
     }
     .grid-item img{
        width: 100%;
       }
       .search-bar{
        width: 100vw;
        height: 40%;;
        font-size: inherit;
            }
            .search-bar h1{
                font-size: 22px;
            }

            .modal-content{
                width: 84vw;
  height: 57vw;
            }
            .right-section{
                font-size: 15px;
            }

            .left-section img
{
  width: 83%;
}

.input-wrapper {
    font-size: small;
}
.searchbar {
    font-size: inherit;
}

   }
 

   @media screen and (max-width: 378px) {

    .search-bar{
        height: 41%;
    }
    .submitButton
    {
        top: 100%;
      }

   }

   @media screen and (max-width: 395px) {
    .search-bar
  {
      width: 100vw;
      height: 40%;
      font-size: inherit;
    }
  }
   @media screen and (max-width: 1496px) and (min-width : 1365px) {
    .search-bar
  {
    top: 62%;
    }}
   @media screen and (max-width: 1280px) and (min-width : 1218px) {
    .search-bar
  {
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 20%;
    }
  }
   @media screen and (max-width: 1216px) and (min-width : 1140px) {
    .search-bar
  {
    top: 51%;
    }
  }
   @media screen and (max-width: 1138px) and (min-width : 1069px) {
    .search-bar
  {
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 20%;
    }
  }
   @media screen and (max-width: 1050px) and (min-width : 970px) {
    .search-bar
  {
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 49%;
    }
  }
   @media screen and (max-width: 969px) and (min-width : 930px) {
    .search-bar
  {
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 46%;
    }
  }