 .container-rights h1 {
     font-size: 24px;
 }

.container-rights  h2 {
     font-size: 20px;
 }

 .important {
     font-weight: bold;

 }

 .small {
     font-size: 14px;
 }

 .container-rights{
    color: white;
    width:70vw;
    text-align: left;
 }
 .heading{
    color: white;
    font-size: 50px;
 }
 @media (max-width:770px) {
.heading {
        font-size: 25px;
    }
    .container-rights{
        width: 90vw;
    }
        .container-rights h1 {
font-size: 18px;

        }
        .container-rights h2{
font-size: 15px;
        }

                .small {
                    font-size: 8px;
                }
                .container-rights p{
                    font-size: 11px;
                }
                                .container-rights ul li{
                                    font-size: 11px;
                                }
 }

 @media (max-width:820px) {
    .heading{
        font-size: 30px;
    }
    .container-rights {width: 85vw;}
 }